In [83]:
#load a dataset
import pandas as pd

In [84]:
Raisin = pd.read_csv('/content/Raisin_Dataset.csv')

In [85]:
Raisin.shape

(900, 8)

In [86]:
Raisin.head()

,Area,MajorAxisLength,MinorAxisLength,Eccentricity,ConvexArea,Extent,Perimeter,Class
0,87524,442.246011,253.291155,0.819738,90546,0.758651,1184.040,Kecimen
1,75166,406.690687,243.032436,0.801805,78789,0.684130,1121.786,Kecimen
2,90856,442.267048,266.328318,0.798354,93717,0.637613,1208.575,Kecimen
3,45928,286.540559,208.760042,0.684989,47336,0.699599,844.162,Kecimen
4,79408,352.190770,290.827533,0.564011,81463,0.792772,1073.251,Kecimen

In [149]:
Raisin.tail()

,Area,MajorAxisLength,MinorAxisLength,Eccentricity,ConvexArea,Extent,Perimeter,Class
895,83248,430.077308,247.838695,0.817263,85839,0.668793,1129.072,Besni
896,87350,440.735698,259.293149,0.808629,90899,0.636476,1214.252,Besni
897,99657,431.706981,298.837323,0.721684,106264,0.741099,1292.828,Besni
898,93523,476.344094,254.176054,0.845739,97653,0.658798,1258.548,Besni
899,85609,512.081774,215.271976,0.907345,89197,0.632020,1272.862,Besni

In [88]:
Raisin1 = pd.Series([1, 2, 3, 4, 5, 6])
Raisin1.describe()

count    6.000000
mean     3.500000
std      1.870829
min      1.000000
25%      2.250000
50%      3.500000
75%      4.750000
max      6.000000
dtype: float64

In [89]:
Raisin2 = pd.Series(["Class"])
Raisin2.describe()

count         1
unique        1
top       Class
freq          1
dtype: object

In [90]:
Raisin.describe()

,Area,MajorAxisLength,MinorAxisLength,Eccentricity,ConvexArea,Extent,Perimeter
count,900.000000,900.000000,900.000000,900.000000,900.000000,900.000000,900.000000
mean,87804.127778,430.929950,254.488133,0.781542,91186.090000,0.699508,1165.906636
std,39002.111390,116.035121,49.988902,0.090318,40769.290132,0.053468,273.764315
min,25387.000000,225.629541,143.710872,0.348730,26139.000000,0.379856,619.074000
25%,59348.000000,345.442898,219.111126,0.741766,61513.250000,0.670869,966.410750
50%,78902.000000,407.803951,247.848409,0.798846,81651.000000,0.707367,1119.509000
75%,105028.250000,494.187014,279.888575,0.842571,108375.750000,0.734991,1308.389750
max,235047.000000,997.291941,492.275279,0.962124,278217.000000,0.835455,2697.753000

In [94]:
Raisin.mean()

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  """Entry point for launching an IPython kernel.

Area               87804.127778
MajorAxisLength      430.929950
MinorAxisLength      254.488133
Eccentricity           0.781542
ConvexArea         91186.090000
Extent                 0.699508
Perimeter           1165.906636
dtype: float64

In [95]:
Raisin.median()

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  """Entry point for launching an IPython kernel.

Area               78902.000000
MajorAxisLength      407.803951
MinorAxisLength      247.848409
Eccentricity           0.798846
ConvexArea         81651.000000
Extent                 0.707367
Perimeter           1119.509000
dtype: float64

In [97]:
Raisin1.mode()

0    1
1    2
2    3
3    4
4    5
5    6
dtype: int64

In [98]:
Raisin.std()

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  """Entry point for launching an IPython kernel.

Area               39002.111390
MajorAxisLength      116.035121
MinorAxisLength       49.988902
Eccentricity           0.090318
ConvexArea         40769.290132
Extent                 0.053468
Perimeter            273.764315
dtype: float64

In [100]:
Raisin1.sum()

21

In [102]:
Raisin.count()

Area               900
MajorAxisLength    900
MinorAxisLength    900
Eccentricity       900
ConvexArea         900
Extent             900
Perimeter          900
Class              900
dtype: int64

In [104]:
Raisin1.isnull()

0    False
1    False
2    False
3    False
4    False
5    False
dtype: bool

In [105]:
Raisin["Class"].value_counts()

Kecimen    450
Besni      450
Name: Class, dtype: int64

In [110]:
Raisinsubset1 = Raisin.loc[Raisin["Class"]=="Kecimen"]

In [114]:
Raisinsubset1

,Area,MajorAxisLength,MinorAxisLength,Eccentricity,ConvexArea,Extent,Perimeter,Class
0,87524,442.246011,253.291155,0.819738,90546,0.758651,1184.040,Kecimen
1,75166,406.690687,243.032436,0.801805,78789,0.684130,1121.786,Kecimen
2,90856,442.267048,266.328318,0.798354,93717,0.637613,1208.575,Kecimen
3,45928,286.540559,208.760042,0.684989,47336,0.699599,844.162,Kecimen
4,79408,352.190770,290.827533,0.564011,81463,0.792772,1073.251,Kecimen
...,...,...,...,...,...,...,...,...
445,61200,323.174410,246.288324,0.647470,64553,0.707449,997.264,Kecimen
446,87089,396.486857,280.245450,0.707392,88754,0.742232,1154.562,Kecimen
447,59589,383.571233,201.381855,0.851091,62974,0.684082,1043.187,Kecimen
448,50312,354.235551,182.312081,0.857392,52070,0.623352,961.439,Kecimen
449,41995,259.208878,210.350798,0.584337,43443,0.729701,801.526,Kecimen

In [117]:
one = ["Besni"]

Raisinsubset2 = Raisin[(Raisin['Area'] < 	60000	) & (Raisin['Class'].isin(one))]

In [118]:
Raisinsubset2

,Area,MajorAxisLength,MinorAxisLength,Eccentricity,ConvexArea,Extent,Perimeter,Class
463,45051,323.589255,180.069737,0.830864,46532,0.830632,836.625,Besni
524,56903,360.815292,204.037706,0.824755,59797,0.718427,980.390,Besni
607,54321,395.011840,182.323981,0.887106,58632,0.625069,1021.989,Besni
633,54357,362.594718,192.949367,0.846659,56006,0.699918,945.828,Besni
660,53325,351.203707,197.213642,0.827452,56030,0.706142,934.490,Besni
662,40702,274.168954,191.378387,0.716068,41924,0.721615,771.797,Besni
676,51350,342.655303,204.011112,0.803442,54576,0.649178,930.051,Besni
688,57999,311.022470,243.476121,0.622242,61519,0.656335,968.697,Besni
693,49371,320.643403,200.245586,0.781015,52692,0.675122,921.059,Besni
717,58870,355.136018,212.029460,0.802213,60490,0.734956,940.363,Besni
728,53373,330.677241,215.701648,0.757959,56639,0.654281,936.823,Besni
737,48007,302.611047,209.116084,0.722817,50679,0.677051,889.743,Besni
744,53077,327.287820,212.231089,0.761254,55532,0.646413,934.708,Besni
752,49691,336.678058,189.261667,0.827039,52077,0.724950,919.419,Besni
782,47253,360.019176,172.508389,0.877725,51538,0.711320,940.542,Besni
805,56244,398.802452,182.844046,0.888703,58530,0.656366,1008.134,Besni
826,47609,331.894111,184.213120,0.831826,49720,0.748193,874.091,Besni
831,48488,275.337717,226.802199,0.566991,50103,0.669594,859.326,Besni
840,48551,302.812835,205.963380,0.733057,50748,0.742824,862.001,Besni
858,59890,402.415719,194.668836,0.875206,61673,0.719711,1034.144,Besni
861,55858,298.858859,239.899399,0.596359,58630,0.681453,915.130,Besni
885,54502,346.457978,204.081212,0.808096,56464,0.636111,927.283,Besni

In [130]:
first = Raisin.loc[:,["MajorAxisLength","MinorAxisLength"]]

In [131]:
first

     MajorAxisLength  MinorAxisLength
0         442.246011       253.291155
1         406.690687       243.032436
2         442.267048       266.328318
3         286.540559       208.760042
4         352.190770       290.827533
..               ...              ...
895       430.077308       247.838695
896       440.735698       259.293149
897       431.706981       298.837323
898       476.344094       254.176054
899       512.081774       215.271976

[900 rows x 2 columns]

In [147]:
largest1 = first.sum()
largest1

MajorAxisLength    387836.955449
MinorAxisLength    229039.319613
dtype: float64

In [148]:
largest1.max()

387836.9554486

In [139]:
secound = Raisin.iloc[:,[1,2]]

In [140]:
secound

     MajorAxisLength  MinorAxisLength
0         442.246011       253.291155
1         406.690687       243.032436
2         442.267048       266.328318
3         286.540559       208.760042
4         352.190770       290.827533
..               ...              ...
895       430.077308       247.838695
896       440.735698       259.293149
897       431.706981       298.837323
898       476.344094       254.176054
899       512.081774       215.271976

[900 rows x 2 columns]

In [145]:
largest2 = secound.mean()
largest2

MajorAxisLength    430.929950
MinorAxisLength    254.488133
dtype: float64

In [146]:
largest2.max()

430.92995049844444

In [156]:
Raisin.groupby(['Area', 'Class'])
 
print(Raisin.groupby(['Area', 'Class']).groups)

{(25387, 'Kecimen'): [59], (26908, 'Kecimen'): [382], (28216, 'Kecimen'): [435], (31237, 'Kecimen'): [381], (31275, 'Kecimen'): [395], (32097, 'Kecimen'): [370], (33565, 'Kecimen'): [15], (33615, 'Kecimen'): [416], (33662, 'Kecimen'): [275], (34559, 'Kecimen'): [233], (34638, 'Kecimen'): [422], (34977, 'Kecimen'): [325], (35237, 'Kecimen'): [88], (36113, 'Kecimen'): [299], (36145, 'Kecimen'): [186], (37302, 'Kecimen'): [414], (37569, 'Kecimen'): [192], (38153, 'Kecimen'): [317], (38545, 'Kecimen'): [252], (38569, 'Kecimen'): [377], (38585, 'Kecimen'): [206], (38724, 'Kecimen'): [313], (38968, 'Kecimen'): [95], (39275, 'Kecimen'): [423], (39368, 'Kecimen'): [401], (39439, 'Kecimen'): [253], (39457, 'Kecimen'): [87], (39509, 'Kecimen'): [148], (39547, 'Kecimen'): [208], (39622, 'Kecimen'): [427], (39669, 'Kecimen'): [158], (39716, 'Kecimen'): [235], (39724, 'Kecimen'): [340], (39941, 'Kecimen'): [178], (40403, 'Kecimen'): [259], (40702, 'Besni'): [662], (40861, 'Kecimen'): [35], (41050, 'Kecimen'): [159], (41283, 'Kecimen'): [167], (41458, 'Kecimen'): [424], (41502, 'Kecimen'): [47], (41593, 'Kecimen'): [238], (41755, 'Kecimen'): [255], (41809, 'Kecimen'): [31], (41995, 'Kecimen'): [449], (42256, 'Kecimen'): [8], (42492, 'Kecimen'): [6], (42609, 'Kecimen'): [278], (42637, 'Kecimen'): [77], (43295, 'Kecimen'): [18], (43345, 'Kecimen'): [241], (43441, 'Kecimen'): [12], (43461, 'Kecimen'): [183], (43495, 'Kecimen'): [262], (43563, 'Kecimen'): [185], (43725, 'Kecimen'): [11], (43743, 'Kecimen'): [257], (43901, 'Kecimen'): [274], (44007, 'Kecimen'): [311], (44081, 'Kecimen'): [339], (44156, 'Kecimen'): [194], (44247, 'Kecimen'): [105], (44367, 'Kecimen'): [111], (44460, 'Kecimen'): [239], (44627, 'Kecimen'): [169], (44939, 'Kecimen'): [50], (45051, 'Besni'): [463], (45160, 'Kecimen'): [309], (45264, 'Kecimen'): [150], (45567, 'Kecimen'): [322], (45598, 'Kecimen'): [251], (45683, 'Kecimen'): [53], (45723, 'Kecimen'): [220], (45800, 'Kecimen'): [48], (45928, 'Kecimen'): [3], (45962, 'Kecimen'): [156], (46008, 'Kecimen'): [261], (46120, 'Kecimen'): [246], (46397, 'Kecimen'): [346], (46403, 'Kecimen'): [315], (46427, 'Kecimen'): [34], (46601, 'Kecimen'): [352], (46742, 'Kecimen'): [144], (46810, 'Kecimen'): [385], (46845, 'Kecimen'): [236], (46961, 'Kecimen'): [211], (47253, 'Besni'): [782], (47478, 'Kecimen'): [128], (47555, 'Kecimen'): [417], (47581, 'Kecimen'): [55], (47602, 'Kecimen'): [365], (47609, 'Besni'): [826], (47771, 'Kecimen'): [160], (47839, 'Kecimen'): [61], (47851, 'Kecimen'): [79], (48007, 'Besni'): [737], (48093, 'Kecimen'): [428], (48177, 'Kecimen'): [98], (48447, 'Kecimen'): [216], (48488, 'Besni'): [831], ...}

In [157]:
Raisin.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 900 entries, 0 to 899
Data columns (total 8 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Area             900 non-null    int64
 1   MajorAxisLength  900 non-null    float64
 2   MinorAxisLength  900 non-null    float64
 3   Eccentricity     900 non-null    float64
 4   ConvexArea       900 non-null    int64
 5   Extent           900 non-null    float64
 6   Perimeter        900 non-null    float64
 7   Class            900 non-null    object
dtypes: float64(5), int64(2), object(1)
memory usage: 56.4+ KB